```html
<!DOCTYPE html>
<html>

<head>
    <title>Courier Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="navbar">

        <h2>Courier Management System</h2>

        <div>
            <a href="/login">Login</a>
            &nbsp;&nbsp;
            <a href="/register">Register</a>
        </div>

    </div>


    <div class="hero">

        <h1>Send. Track. Deliver.</h1>

        <p>
            Manage and track your parcels easily.
        </p>

        <br>

        <a href="/track" class="btn">
            Track Your Parcel
        </a>

        &nbsp;

        <a href="/login" class="btn">
            Login
        </a>

        <p>
            Don't have an account?
            <a href="/register">Create one</a>
        </p>

    </div>

    <footer>
    Commit: {{ commit }}
</footer>

</body>

</html>
```
