<!DOCTYPE html>
<html>

<head>
    <title>Track Parcel</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="navbar">
        <h2>Courier Management System</h2>
    </div>

    <div class="hero">

        <h1>Track Your Parcel</h1>

        <p>Enter your tracking ID to check your parcel status.</p>

        <form>
            <input type="text" placeholder="Enter Tracking ID">
            <button type="submit" class="btn">Track</button>
        </form>

    </div>

</body>

</html>